/* line 5, ../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p598/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/_body_style.scss */
body {
  position: relative;
  width: 1066px;
  height: 600px;
  background-color: #FFFFFF;
  border: 2pt ridge;
  overflow: hidden;
}

/* line 17, ../sass/_body_style.scss */
h1 {
  display: block;
  margin-top: 10pt;
  text-align: center;
  font-weight: bold;
  font-size: 24;
  font-family: Arial;
}

/* line 26, ../sass/_body_style.scss */
h2 {
  font-size: 18;
}

/* line 30, ../sass/_body_style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/invoice.scss */
.paper {
  margin-left: 5%;
  margin-right: 2%;
  margin-top: 30px;
}
/* line 11, ../sass/invoice.scss */
.paper .invoice-header {
  border-bottom-width: 2pt;
  border-bottom-style: solid;
  border-bottom-color: brown;
  width: 100%;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
/* line 20, ../sass/invoice.scss */
.paper .invoice-header .address {
  flex-basis: 60%;
  min-width: 50%;
}
/* line 24, ../sass/invoice.scss */
.paper .invoice-header .address .logo {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  overflow: hidden;
  max-width: 40%;
}
/* line 30, ../sass/invoice.scss */
.paper .invoice-header .address .text {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 1%;
  max-width: 50%;
}
/* line 39, ../sass/invoice.scss */
.paper .invoice-header .invoice-details {
  flex-basis: 40%;
}
/* line 43, ../sass/invoice.scss */
.paper .invoice-header .invoice-details table td {
  padding: 2pt;
}
/* line 47, ../sass/invoice.scss */
.paper .invoice-header .invoice-details table td:nth-child(1) {
  font-weight: bold;
}
/* line 51, ../sass/invoice.scss */
.paper .invoice-header .invoice-details table .ralign {
  text-align: right;
}
/* line 58, ../sass/invoice.scss */
.paper .inventory-table {
  clear: both;
  margin-top: 1em;
}
/* line 64, ../sass/invoice.scss */
.paper table.inventory {
  width: 100%;
}
/* line 67, ../sass/invoice.scss */
.paper table.inventory col:nth-child(1) {
  width: 40%;
}
/* line 68, ../sass/invoice.scss */
.paper table.inventory col:nth-child(2) {
  width: 15%;
}
/* line 69, ../sass/invoice.scss */
.paper table.inventory col:nth-child(3) {
  width: 15%;
}
/* line 70, ../sass/invoice.scss */
.paper table.inventory col:nth-child(4) {
  width: 20%;
}
/* line 72, ../sass/invoice.scss */
.paper table.inventory td, .paper table.inventory th {
  border-right: 1pt solid;
  border-right-color: #AA7777;
  padding-left: 0.2em;
  padding-top: 3pt;
  padding-bottom: 3pt;
}
/* line 80, ../sass/invoice.scss */
.paper table.inventory td:last-child, .paper table.inventory th:last-child {
  border-right: none;
}
/* line 84, ../sass/invoice.scss */
.paper table.inventory td:nth-child(2), .paper table.inventory td:nth-child(4) {
  text-align: right;
  padding-right: 0.5em;
}
/* line 89, ../sass/invoice.scss */
.paper table.inventory td:nth-child(3), .paper table.inventory th {
  text-align: center;
}
/* line 94, ../sass/invoice.scss */
.paper table.inventory thead {
  border-bottom: 1pt solid;
}
/* line 99, ../sass/invoice.scss */
.paper table.inventory tbody td {
  font-size: 10pt;
}
/* line 103, ../sass/invoice.scss */
.paper table.inventory tbody tr:first-child td {
  padding-top: 10pt;
}
/* line 106, ../sass/invoice.scss */
.paper table.inventory tbody tr:last-child td {
  padding-bottom: 10pt;
}
/* line 110, ../sass/invoice.scss */
.paper table.inventory tbody td:nth-child(3) {
  max-width: 20px;
  overflow: hidden;
}
/* line 116, ../sass/invoice.scss */
.paper table.inventory tfoot {
  border-top: 2pt solid;
}
/* line 118, ../sass/invoice.scss */
.paper table.inventory tfoot td:nth-child {
  border-right: none;
}

/* line 127, ../sass/invoice.scss */
.foot-menu {
  position: absolute;
  bottom: 0;
  padding: 5%;
}
